<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('系统更新日志列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>哪里的更新包，建德，海潮，等等：</label>
                                <select name="systemLoc" th:with="type=${@dict.getType('system_loc')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>哪一个系统：</label>
                                <select name="whichSystem" th:with="type=${@dict.getType('which_system')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>接口还是web：</label>
                                <select name="inferfaceOrWeb" th:with="type=${@dict.getType('inferface_or_web')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>哪个模块：</label>
                                <input type="text" name="module"/>
                            </li>
                            <li>
                                <label>更新包位置：</label>
                                <input type="text" name="packageLoc"/>
                            </li>
                            <li>
                                <label>是否已经部署：</label>
                                <select name="updateResult" th:with="type=${@dict.getType('update_result')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>创建人：</label>
                                <input type="text" name="createUser"/>
                            </li>
                            <li>
                                <label>版本号：</label>
                                <input type="text" name="version"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="updateLog:updateLog:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="updateLog:updateLog:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="updateLog:updateLog:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="updateLog:updateLog:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('updateLog:updateLog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('updateLog:updateLog:remove')}]];
        var systemLocDatas = [[${@dict.getType('system_loc')}]];
        var whichSystemDatas = [[${@dict.getType('which_system')}]];
        var inferfaceOrWebDatas = [[${@dict.getType('inferface_or_web')}]];
        var updateResultDatas = [[${@dict.getType('update_result')}]];
        var prefix = ctx + "updateLog/updateLog";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "系统更新日志",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'systemLoc',
                    title: '哪里的更新包，建德，海潮，等等',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(systemLocDatas, value);
                    }
                },
                {
                    field: 'whichSystem',
                    title: '哪一个系统',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(whichSystemDatas, value);
                    }
                },
                {
                    field: 'inferfaceOrWeb',
                    title: '接口还是web',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(inferfaceOrWebDatas, value);
                    }
                },
                {
                    field: 'module',
                    title: '哪个模块'
                },
                {
                    field: 'log',
                    title: '更新日志'
                },
                {
                    field: 'packageLoc',
                    title: '更新包位置'
                },
                {
                    field: 'updateResult',
                    title: '是否已经部署',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(updateResultDatas, value);
                    }
                },
                {
                    field: 'createUser',
                    title: '创建人'
                },
                {
                    field: 'version',
                    title: '版本号'
                },
                {
                    field: 'sqlContent',
                    title: 'sql脚本'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-info btn-xs href="javascript:void(0)" onclick="hasUpdateSite(\'' + row.id + '\')"><i class="fa fa-remove"></i>已更现场</a>');
                        actions.push('<a class="btn btn-info btn-xs href="javascript:void(0)" onclick="hasUpdateTest(\'' + row.id + '\')"><i class="fa fa-remove"></i>已更测试</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function hasUpdateSite(id) {
            $.operate.post(prefix + "/hasUpdateSite",{id: id});
        }
        function hasUpdateTest(id) {
            $.operate.post(prefix + "/hasUpdateSite",{id: id});
        }
    </script>
</body>
</html>
