<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.updatelog.mapper.UpdateLogMapper">
    
    <resultMap type="UpdateLog" id="UpdateLogResult">
        <result property="id"    column="id"    />
        <result property="systemLoc"    column="system_loc"    />
        <result property="whichSystem"    column="which_system"    />
        <result property="inferfaceOrWeb"    column="inferface_or_web"    />
        <result property="module"    column="module"    />
        <result property="log"    column="log"    />
        <result property="packageLoc"    column="package_loc"    />
        <result property="updateResult"    column="update_result"    />
        <result property="createUser"    column="create_user"    />
        <result property="version"    column="version"    />
        <result property="sqlContent"    column="sql_content"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUpdateLogVo">
        select id, system_loc, which_system, inferface_or_web, module, log, package_loc, update_result, create_user, version, sql_content, update_time from update_log
    </sql>

    <select id="selectUpdateLogList" parameterType="UpdateLog" resultMap="UpdateLogResult">
        <include refid="selectUpdateLogVo"/>
        <where>  
            <if test="systemLoc != null "> and system_loc = #{systemLoc}</if>
            <if test="whichSystem != null "> and which_system = #{whichSystem}</if>
            <if test="inferfaceOrWeb != null "> and inferface_or_web = #{inferfaceOrWeb}</if>
            <if test="module != null  and module != ''"> and module = #{module}</if>
            <if test="log != null  and log != ''"> and log = #{log}</if>
            <if test="packageLoc != null  and packageLoc != ''"> and package_loc = #{packageLoc}</if>
            <if test="updateResult != null "> and update_result = #{updateResult}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="sqlContent != null  and sqlContent != ''"> and sql_content = #{sqlContent}</if>
        </where>
        order by update_time desc
    </select>
    
    <select id="selectUpdateLogById" parameterType="Long" resultMap="UpdateLogResult">
        <include refid="selectUpdateLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUpdateLog" parameterType="UpdateLog" useGeneratedKeys="true" keyProperty="id">
        insert into update_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemLoc != null">system_loc,</if>
            <if test="whichSystem != null">which_system,</if>
            <if test="inferfaceOrWeb != null">inferface_or_web,</if>
            <if test="module != null">module,</if>
            <if test="log != null">log,</if>
            <if test="packageLoc != null">package_loc,</if>
            <if test="updateResult != null">update_result,</if>
            <if test="createUser != null">create_user,</if>
            <if test="version != null">version,</if>
            <if test="sqlContent != null">sql_content,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemLoc != null">#{systemLoc},</if>
            <if test="whichSystem != null">#{whichSystem},</if>
            <if test="inferfaceOrWeb != null">#{inferfaceOrWeb},</if>
            <if test="module != null">#{module},</if>
            <if test="log != null">#{log},</if>
            <if test="packageLoc != null">#{packageLoc},</if>
            <if test="updateResult != null">#{updateResult},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="version != null">#{version},</if>
            <if test="sqlContent != null">#{sqlContent},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUpdateLog" parameterType="UpdateLog">
        update update_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemLoc != null">system_loc = #{systemLoc},</if>
            <if test="whichSystem != null">which_system = #{whichSystem},</if>
            <if test="inferfaceOrWeb != null">inferface_or_web = #{inferfaceOrWeb},</if>
            <if test="module != null">module = #{module},</if>
            <if test="log != null">log = #{log},</if>
            <if test="packageLoc != null">package_loc = #{packageLoc},</if>
            <if test="updateResult != null">update_result = #{updateResult},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="version != null">version = #{version},</if>
            <if test="sqlContent != null">sql_content = #{sqlContent},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUpdateLogById" parameterType="Long">
        delete from update_log where id = #{id}
    </delete>

    <delete id="deleteUpdateLogByIds" parameterType="String">
        delete from update_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
